[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
streamlit-chat = "*"
isort = "*"
langchainhub = "*"
firecrawl-py = "*"
langchain-community = "*"
langsmith = "*"
pillow = "*"
langchain-pinecone = "*"
certifi = "*"
python-dotenv = "*"
langchain-tavily = "*"
langchain-chroma = "*"
streamlit = "*"
playwright = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
plotly = "*"
xgboost = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
pypdf2 = "*"
pdfplumber = "*"
pyjwt = "==2.8.0"
uvicorn = "*"
beautifulsoup4 = "*"
duckduckgo-search = "*"
ddgs = "*"
yfinance = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-cov = "*"
httpx = "*"
faker = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
